@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: "absender";
	src: url(../fonts/absender.ttf) format("truetype");
}

body{
	font-size: 18px;
	line-height: 1.8em;
}

.mbtm{
	margin-bottom: 60px;
}

.logo{
	display: none;
}

.logo img{
	height: 60px;
	width: 90px;
}

.header{
	background-color: #42d1f5;
	width: 100%;
	font-weight: 500;
	padding: 16px 0px 2px 0px;
	transition:.5s;
}

.fixTop{
	position:fixed;
	z-index: 999;
	padding: 8px 0px 1px 0px;
	background-color: #fff;
	border-bottom: solid 2px #262626;
	box-shadow: 0px 1px 2px #6a6a6a;
}

.w-100{
	width:100%;
}

.txtseo {
	width:100%;
	height: auto;/*auto*/
	background-color: #FFFFFF;
	padding: 30px 30px;
	text-align: center;
}

.txtseo h1 {
	color: #000;
	font-family: "absender";
	font-size: 50px;
}

.txtseo p {margin-bottom: 0px}


.bold{
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.italic{
	font-style: italic;
}

.font-big{
	font-size: 25px;
}

.font-small{
	font-size: 10px;
}

.line-spacing{
	line-height: 24px;
}

.white{
	color: #fff;
}

.blue{
	background-color: #42d1f5;
}

.mymenu{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

.mymenu li {
	margin-left: 2px;
}

.mymenu li a {
	color: #000;
	text-decoration: none;
	padding: 10px 20px;
	display: inline-block;
	font-size: 17px;
}

.fixTop .mymenu li a{
	color:#292929;
	font-size: 15px;
}

.mymenu li a:hover{
	color: #81dff7;
	background-color: #212121;
}

/* Perintah yang dijalankan saat mouse ada di atas link/a */
.mymenu li a:hover, .mymenu li a.active{
	color:#212121;
	background-color: #81dff7;
}


.text-seo {
	padding: 15px 15px;
	text-align: center;
}

.title-item {
	padding-bottom: 15px;
	margin-bottom: 30px;
	text-align: center;
}

.title-item span
{
	border-bottom: solid 2px #42d1f5;
	padding-bottom: 14px;
}


.frameImg{
	position: relative;
}

.frameImg h3{
	position: absolute;
	bottom: 0px;
	margin: 0px;
	color: #d1d1d1;
	font-size: 24px;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	padding: 10px;
}

.frameDesc{
	padding: 10px;
}

.info-quote{
	position: absolute;
	left:30%;
	top:15%;
	text-align: center;
	background-color: rgba(255,255,255,0.8);
	padding: 30px 50px;
}

.adventage{
	padding: 50px;
	text-align: center;
	font-size: 22px;
	background-color: #42d1f5;
	margin-bottom: 50px;
}

.footer{
	background-color:#42d1f5;
	text-align: center;
	font-family: Calibri, Arial;
	font-size: 18px;
	font-weight: 600;
}

.footermenu{
	margin: 0px;
	padding: 20px 30px 20px 30px;
	list-style-type: none;
}

.footermenu li{
	margin-left:2px;
}

.footermenu li a{
	color:#E1E1E1;
	text-decoration: none;
	padding: 10px 20px;
	display: inline-block;
}

/* Perintah yang dijalankan saat mouse ada di atas link/a */
.footermenu li a:hover{
	color:#212121;
	background-color: #81dff7;
}

.aboutus{
	text-align: left;
}

.medsos a{
	font-size: 40px;
}

.medsos a.fb{color:#0039E9;}
.medsos a.ig{color:#E90080;}
.medsos a.tw{color:#00A7E9;}

.medsos a.fb:hover{color:#012AAB;}
.medsos a.ig{color:#E90080;}
.medsos a.tw{color:#00A7E9;}

.boxwa {
    background: #fff;
    border: 3px solid #20a9f0;
    box-shadow: 0 0 5px #ccc;
    z-index: 999999;
    padding: 10px;
    position: fixed;
    width: 200px;
    height: 150px;
    bottom: -150px;
    right: 10px;
}

.navwa {
    padding: 5px 25px;
    min-width: 50px;
    min-height: 20px;
    background: #000;
    color: #42d1f5;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: -35px;
    right: 10px;
    font-size: 18px;
}

/*.box-iklan{
	width:200px;
	height:200px;
	background-color:#7D7D7D;
	border-radius: 50%;
	position: fixed;
	left:50%;
	bottom:0px;
	margin-top:-100px;
	margin-left:-100px;
	display: none;
}*/

@media(min-width:768px)
{
	.logo{
	display: block;
	}
}

@media(min-width:992px)

{
	.txtseo {
	padding: 30px 150px;
	}
}
